<h1>Olá handlebars!</h1>
<p>Olá {{user.name}} {{user.surname}}</p>
{{#if auth}}
    <p>
        Você esta autenticado, <a href="dashboard">Click aqui</a> para ir para area de membros.
    </p>
{{/if}}