<h1>Olá handlebars!</h1>

{{#if approved}}
    <p>Parabéns, seu cadastro foi aprovado!</p>
    {{else}}
    <p>O seu cadastro necessita de aprovação para acesso total ao sistema.</p>
{{/if}}

<p>Olá {{user.name}} {{user.surname}}</p>

{{#if auth}}
    <p>
        Você esta autenticado, <a href="dashboard">Click aqui</a> para ir para area de membros.
    </p>
{{/if}}